<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }}. {{ title }}</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container page">
    <div class="row">
        <div class="col-md-6 col-print-6">
            <h1>{{ name }}<br/>{{ title }}</h1>
            <p>
                <time datetime="{{ buildinfo.date }}" class="text-muted">Last update: {{ updated }}</time>
            </p>
            <p>
                <span class="screen"><a href="{{ pdfFileName }}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Download PDF version</a></span>
                <span class="print">The online version is available at <a href="{{ baseUrl }}" class="text-nowrap"><i
                    class="fa fa-github" aria-hidden="true"></i>{{ baseUrl }}</a></span>
            </p>
        </div>
        <div class="col-md-6 col-print-6">
            <dl class="row">
                {{#each facts}}
                <dt class="col-md-3">{{ @key }}</dt>
                <dd class="col-md-9">{{{ this }}}</dd>
                {{/each}}
            </dl>
        </div>
    </div>

    <h2>Professional Experience</h2>
    {{#each experiences}}
    <div class="card mb-4">
        <div class="card-body">
            <h3>{{ company }},
                <small>{{ location }}</small>
            </h3>
            <p>{{ title }}</p>
            <p class="text-muted">{{ period }}</p>

            <div>{{{markdown contents }}}</div>

            <p>
                {{#each skills }}
                <span class="badge badge-primary">{{ this }}</span>
                {{/each}}
            </p>

            {{#if review}}
            <p>
                Review: <a href="{{ ../baseUrl }}/{{ review.file }}">{{ review.author }}</a>
            </p>
            {{/if}}
        </div>
    </div>
    {{/each}}

    <h2>Certifications</h2>
    {{#each certificates}}
        <p>
            <a href="{{ ../baseUrl }}/{{ content }}">{{ name }}</a>
        </p>
    {{/each}}

    <h2>Education</h2>
    <p>Master degree in Knowledge Engineering, NUS, Singapore [2015 - 2016]</p>
    <p>Bachelor degree in Software Engineering, FPT Software, Vietnam [2009 - 2013]</p>

</div>
</body>
</html>
